In [2]:
import pandas as pd
import numpy as np 
import os
import matplotlib.pyplot as plt
os.chdir(r'C:\Users\dell\PycharmProjects\MachineLearning\Pandas\datasets')

In [8]:
pd.set_option('display.max_rows', 5)

In [9]:
pokemon = pd.read_csv('./pokemon.csv', index_col = 0)
pokemon

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [4]:
pokemon.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 13 columns):
#             800 non-null int64
Name          800 non-null object
Type 1        800 non-null object
Type 2        414 non-null object
Total         800 non-null int64
HP            800 non-null int64
Attack        800 non-null int64
Defense       800 non-null int64
Sp. Atk       800 non-null int64
Sp. Def       800 non-null int64
Speed         800 non-null int64
Generation    800 non-null int64
Legendary     800 non-null bool
dtypes: bool(1), int64(9), object(3)
memory usage: 75.9+ KB

# Select columns of specific types

**`DataFrame.select_dtypes`**

```python
DataFrame.select_dtypes(include=None, exclude=None)
```

In [10]:
#select columns of types int64, bool
pokemon.select_dtypes(include = ['int64', 'bool'])

,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,
1,318,45,49,49,65,65,45,1,False
2,405,60,62,63,80,80,60,1,False
...,...,...,...,...,...,...,...,...,...
720,680,80,160,60,170,130,80,6,True
721,600,80,110,120,130,90,70,6,True

In [11]:
#equivalent
pokemon.select_dtypes(exclude = ['object'])

,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,
1,318,45,49,49,65,65,45,1,False
2,405,60,62,63,80,80,60,1,False
...,...,...,...,...,...,...,...,...,...
720,680,80,160,60,170,130,80,6,True
721,600,80,110,120,130,90,70,6,True

# Convert datatype

**`Series.astype(dtype)`**

In [16]:
sr = pokemon['Legendary'].astype('int')
sr

#
1      0
2      0
      ..
720    1
721    1
Name: Legendary, Length: 800, dtype: int32

In [17]:
sr.dtype

dtype('int32')