In [6]:
import pandas as pd
import numpy as np 
import os
os.chdir(r'C:\Users\dell\PycharmProjects\MachineLearning\Pandas\datasets')

Pandas provide API to customize some aspects of its behavior, display is being mostly used.<br>

The API is composed of five relevant functions. They are:<br>

* get_option()
* set_option()
* reset_option()
* describe_option()
* option_context()

# get_option()

Available options:

- compute.[use_bottleneck, use_numexpr]
- display.[chop_threshold, colheader_justify, column_space, date_dayfirst,
  date_yearfirst, encoding, expand_frame_repr, float_format]
- display.html.[border, table_schema, use_mathjax]
- display.[large_repr]
- display.latex.[escape, longtable, multicolumn, multicolumn_format, multirow,
  repr]
- display.[max_categories, max_columns, max_colwidth, max_info_columns,
  max_info_rows, max_rows, max_seq_items, memory_usage, multi_sparse,
  notebook_repr_html, pprint_nest_depth, precision, show_dimensions]
- display.unicode.[ambiguous_as_wide, east_asian_width]
- display.[width]
- html.[border]
- io.excel.xls.[writer]
- io.excel.xlsm.[writer]
- io.excel.xlsx.[writer]
- io.hdf.[default_format, dropna_table]
- io.parquet.[engine]
- mode.[chained_assignment, sim_interactive, use_inf_as_na, use_inf_as_null]
- plotting.matplotlib.[register_converters]

In [3]:
pd.get_option('display.max_columns')

20

In [4]:
pd.get_option('display.max_rows')

60

In [5]:
pd.get_option('display.width')

80

# set_option()

In [9]:

pd.set_option('display.max_rows', 10)
pd.set_option('display.max_columns', 5)

In [11]:
pokemon = pd.read_csv('./pokemon.csv')
pokemon

       #                   Name  ... Generation Legendary
0      1              Bulbasaur  ...          1     False
1      2                Ivysaur  ...          1     False
2      3               Venusaur  ...          1     False
3      3  VenusaurMega Venusaur  ...          1     False
4      4             Charmander  ...          1     False
..   ...                    ...  ...        ...       ...
795  719                Diancie  ...          6      True
796  719    DiancieMega Diancie  ...          6      True
797  720    HoopaHoopa Confined  ...          6      True
798  720     HoopaHoopa Unbound  ...          6      True
799  721              Volcanion  ...          6      True

[800 rows x 13 columns]

# reset_option()

In [13]:
pd.reset_option('display.max_columns')
pd.get_option('display.max_columns')

20

In [14]:
pokemon

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

# describe_option()

In [15]:
pd.describe_option('display.width')

display.width : int
    Width of the display in characters. In case python/IPython is running in
    a terminal this can be set to None and pandas will correctly auto-detect
    the width.
    Note that the IPython notebook, IPython qtconsole, or IDLE do not run in a
    terminal and hence it is not possible to correctly detect the width.
    [default: 80] [currently: 80]

# option_context()

In [16]:
with pd.option_context('display.max_rows', 20):
    print(pokemon)

       #                       Name   Type 1  Type 2  Total   HP  Attack  \
0      1                  Bulbasaur    Grass  Poison    318   45      49
1      2                    Ivysaur    Grass  Poison    405   60      62
2      3                   Venusaur    Grass  Poison    525   80      82
3      3      VenusaurMega Venusaur    Grass  Poison    625   80     100
4      4                 Charmander     Fire     NaN    309   39      52
5      5                 Charmeleon     Fire     NaN    405   58      64
6      6                  Charizard     Fire  Flying    534   78      84
7      6  CharizardMega Charizard X     Fire  Dragon    634   78     130
8      6  CharizardMega Charizard Y     Fire  Flying    634   78     104
9      7                   Squirtle    Water     NaN    314   44      48
..   ...                        ...      ...     ...    ...  ...     ...
790  714                     Noibat   Flying  Dragon    245   40      30
791  715                    Noivern   Flying  Dragon    535   85      70
792  716                    Xerneas    Fairy     NaN    680  126     131
793  717                    Yveltal     Dark  Flying    680  126     131
794  718           Zygarde50% Forme   Dragon  Ground    600  108     100
795  719                    Diancie     Rock   Fairy    600   50     100
796  719        DiancieMega Diancie     Rock   Fairy    700   50     160
797  720        HoopaHoopa Confined  Psychic   Ghost    600   80     110
798  720         HoopaHoopa Unbound  Psychic    Dark    680   80     160
799  721                  Volcanion     Fire   Water    600   80     110

     Defense  Sp. Atk  Sp. Def  Speed  Generation  Legendary
0         49       65       65     45           1      False
1         63       80       80     60           1      False
2         83      100      100     80           1      False
3        123      122      120     80           1      False
4         43       60       50     65           1      False
5         58       80       65     80           1      False
6         78      109       85    100           1      False
7        111      130       85    100           1      False
8         78      159      115    100           1      False
9         65       50       64     43           1      False
..       ...      ...      ...    ...         ...        ...
790       35       45       40     55           6      False
791       80       97       80    123           6      False
792       95      131       98     99           6       True
793       95      131       98     99           6       True
794      121       81       95     95           6       True
795      150      100      150     50           6       True
796      110      160      110    110           6       True
797       60      150      130     70           6       True
798       60      170      130     80           6       True
799      120      130       90     70           6       True

[800 rows x 13 columns]

# Frequently used

1	
<b>display.max_rows</b>

Displays maximum number of rows to display

2	
<b>display.max_columns</b>

Displays maximum number of columns to display

3	
<b>display.expand_frame_repr</b>

Displays DataFrames to Stretch Pages

4	
<b>display.max_colwidth</b>

Displays maximum column width

5	
<b>display.precision</b>

Displays precision for decimal numbers

In [17]:
housing = pd.read_csv('./housing.csv')
housing

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,INLAND
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,INLAND
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,INLAND
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,INLAND
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,INLAND

In [23]:
with pd.option_context('display.precision', 2, 'display.max_columns', 6, 'display.width', 150):
    print(housing)

       longitude  latitude  housing_median_age  ...  median_income  median_house_value  ocean_proximity
0        -122.23     37.88                41.0  ...           8.33            452600.0         NEAR BAY
1        -122.22     37.86                21.0  ...           8.30            358500.0         NEAR BAY
2        -122.24     37.85                52.0  ...           7.26            352100.0         NEAR BAY
3        -122.25     37.85                52.0  ...           5.64            341300.0         NEAR BAY
4        -122.25     37.85                52.0  ...           3.85            342200.0         NEAR BAY
...          ...       ...                 ...  ...            ...                 ...              ...
20635    -121.09     39.48                25.0  ...           1.56             78100.0           INLAND
20636    -121.21     39.49                18.0  ...           2.56             77100.0           INLAND
20637    -121.22     39.43                17.0  ...           1.70             92300.0           INLAND
20638    -121.32     39.43                18.0  ...           1.87             84700.0           INLAND
20639    -121.24     39.37                16.0  ...           2.39             89400.0           INLAND

[20640 rows x 10 columns]

In [24]:
pd.get_option('display.max_colwidth')

50

In [29]:
with pd.option_context('display.max_colwidth', 10, 'display.max_columns', 5):
    print(pokemon)

       #       Name  ... Generation Legendary
0      1  Bulbasaur  ...          1     False
1      2    Ivysaur  ...          1     False
2      3   Venusaur  ...          1     False
3      3  Venusa...  ...          1     False
4      4  Charma...  ...          1     False
..   ...        ...  ...        ...       ...
795  719    Diancie  ...          6      True
796  719  Dianci...  ...          6      True
797  720  HoopaH...  ...          6      True
798  720  HoopaH...  ...          6      True
799  721  Volcanion  ...          6      True

[800 rows x 13 columns]