In [4]:
import pandas as pd
import numpy as np
import os
os.chdir(r'C:\Users\dell\PycharmProjects\MachineLearning\Pandas\datasets')

In [6]:
pd.set_option('display.max_rows', 5)

In [7]:

df = pd.read_csv('./pokemon.csv')

limit_hp = 10
limit_attack = 100
ans = df.query('Attack < @limit_attack & HP > @limit_hp')
ans

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
790,714,Noibat,Flying,Dragon,245,40,30,35,45,40,55,6,False
791,715,Noivern,Flying,Dragon,535,85,70,80,97,80,123,6,False

In [8]:
df.query('Legendary == True')

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
156,144,Articuno,Ice,Flying,580,90,85,100,95,125,85,1,True
157,145,Zapdos,Electric,Flying,580,90,90,85,125,90,100,1,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

# eval

In [2]:
import pandas as pd
df = pd.DataFrame([[1, 2], [3, 4]], columns=['a', 'b'])
df

   a  b
0  1  2
1  3  4

In [3]:
df.eval('a + b')
df['a'] + df['b']

0    3
1    7
dtype: int64