In [2]:
library(tidyverse)

# Return melted data for each token in a delimited file (including csv & tsv)

For certain non-rectangular data formats, it can be useful to parse the data into a melted format where each row represents a single token.

```r
melt_delim(
  file,
  delim,
  quote = "\"",
  escape_backslash = FALSE,
  escape_double = TRUE,
  locale = default_locale(),
  na = c("", "NA"),
  quoted_na = TRUE,
  comment = "",
  trim_ws = FALSE,
  skip = 0,
  n_max = Inf,
  progress = show_progress(),
  skip_empty_rows = FALSE
)

melt_csv(
  file,
  locale = default_locale(),
  na = c("", "NA"),
  quoted_na = TRUE,
  quote = "\"",
  comment = "",
  trim_ws = TRUE,
  skip = 0,
  n_max = Inf,
  progress = show_progress(),
  skip_empty_rows = FALSE
)

melt_csv2(
  file,
  locale = default_locale(),
  na = c("", "NA"),
  quoted_na = TRUE,
  quote = "\"",
  comment = "",
  trim_ws = TRUE,
  skip = 0,
  n_max = Inf,
  progress = show_progress(),
  skip_empty_rows = FALSE
)

melt_tsv(
  file,
  locale = default_locale(),
  na = c("", "NA"),
  quoted_na = TRUE,
  quote = "\"",
  comment = "",
  trim_ws = TRUE,
  skip = 0,
  n_max = Inf,
  progress = show_progress(),
  skip_empty_rows = FALSE
)
```

# Examples

These functions works exactly the same as **`read_delim()`**, **`read_csv()`**, ...  
The only difference is it return a **melted format** rather than a data frame

In [3]:
melt_csv(readr_example('mtcars.csv'))

    row col data_type value
1   1    1  character mpg
2   1    2  character cyl
3   1    3  character disp
4   1    4  character hp
5   1    5  character drat
6   1    6  character wt
7   1    7  character qsec
8   1    8  character vs
9   1    9  character am
10  1   10  character gear
11  1   11  character carb
12  2    1  integer   21
13  2    2  integer   6
14  2    3  integer   160
15  2    4  integer   110
16  2    5  double    3.9
17  2    6  double    2.62
18  2    7  double    16.46
19  2    8  integer   0
20  2    9  integer   1
21  2   10  integer   4
22  2   11  integer   4
23  3    1  integer   21
24  3    2  integer   6
25  3    3  integer   160
26  3    4  integer   110
27  3    5  double    3.9
28  3    6  double    2.875
29  3    7  double    17.02
30  3    8  integer   0
... ... ... ...       ...
334 31   4  integer   175
335 31   5  double    3.62
336 31   6  double    2.77
337 31   7  double    15.5
338 31   8  integer   0
339 31   9  integer   1
340 31  10  integer   5
341 31  11  integer   6
342 32   1  integer   15
343 32   2  integer   8
344 32   3  integer   301
345 32   4  integer   335
346 32   5  double    3.54
347 32   6  double    3.57
348 32   7  double    14.6
349 32   8  integer   0
350 32   9  integer   1
351 32  10  integer   5
352 32  11  integer   8
353 33   1  double    21.4
354 33   2  integer   4
355 33   3  integer   121
356 33   4  integer   109
357 33   5  double    4.11
358 33   6  double    2.78
359 33   7  double    18.6
360 33   8  integer   1
361 33   9  integer   1
362 33  10  integer   4
363 33  11  integer   2