In [2]:
library(tidyverse)

# [Programming with dplyr](https://dplyr.tidyverse.org/articles/programming.html)

# Introduction

Most dplyr verbs use tidy evaluation in some way. Tidy evaluation is a special type of non-standard evaluation used throughout the tidyverse. There are two basic forms found in dplyr:

* `arrange()`, `count()`, `filter()`, `group_by()`, `mutate()`, and `summarise()` use __data masking__ so that you can use data variables as if they were variables in the environment (i.e. you write `my_variable` not `df$myvariable`).

* `across()`, `relocate()`, `rename()`, `select()`, and `pull()` use __tidy selection__ so you can easily choose variables based on their position, name, or type (e.g. starts_with("x") or is.numeric).

To determine whether a function argument uses data masking or tidy selection, look at the documentation: in the arguments list, you’ll see `<data-masking>` or `<tidy-select>`.

# Data masking

Data masking makes data manipulation faster because it requires less typing. In most (but not all1) base R functions you need to refer to variables with $, leading to code that repeats the name of the data frame many times:

In [11]:
iris[iris$Species == 'setosa', ,]

   Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1  5.1          3.5         1.4          0.2         setosa
2  4.9          3.0         1.4          0.2         setosa
3  4.7          3.2         1.3          0.2         setosa
4  4.6          3.1         1.5          0.2         setosa
5  5.0          3.6         1.4          0.2         setosa
6  5.4          3.9         1.7          0.4         setosa
7  4.6          3.4         1.4          0.3         setosa
8  5.0          3.4         1.5          0.2         setosa
9  4.4          2.9         1.4          0.2         setosa
10 4.9          3.1         1.5          0.1         setosa
11 5.4          3.7         1.5          0.2         setosa
12 4.8          3.4         1.6          0.2         setosa
13 4.8          3.0         1.4          0.1         setosa
14 4.3          3.0         1.1          0.1         setosa
15 5.8          4.0         1.2          0.2         setosa
16 5.7          4.4         1.5          0.4         setosa
17 5.4          3.9         1.3          0.4         setosa
18 5.1          3.5         1.4          0.3         setosa
19 5.7          3.8         1.7          0.3         setosa
20 5.1          3.8         1.5          0.3         setosa
21 5.4          3.4         1.7          0.2         setosa
22 5.1          3.7         1.5          0.4         setosa
23 4.6          3.6         1.0          0.2         setosa
24 5.1          3.3         1.7          0.5         setosa
25 4.8          3.4         1.9          0.2         setosa
26 5.0          3.0         1.6          0.2         setosa
27 5.0          3.4         1.6          0.4         setosa
28 5.2          3.5         1.5          0.2         setosa
29 5.2          3.4         1.4          0.2         setosa
30 4.7          3.2         1.6          0.2         setosa
31 4.8          3.1         1.6          0.2         setosa
32 5.4          3.4         1.5          0.4         setosa
33 5.2          4.1         1.5          0.1         setosa
34 5.5          4.2         1.4          0.2         setosa
35 4.9          3.1         1.5          0.2         setosa
36 5.0          3.2         1.2          0.2         setosa
37 5.5          3.5         1.3          0.2         setosa
38 4.9          3.6         1.4          0.1         setosa
39 4.4          3.0         1.3          0.2         setosa
40 5.1          3.4         1.5          0.2         setosa
41 5.0          3.5         1.3          0.3         setosa
42 4.5          2.3         1.3          0.3         setosa
43 4.4          3.2         1.3          0.2         setosa
44 5.0          3.5         1.6          0.6         setosa
45 5.1          3.8         1.9          0.4         setosa
46 4.8          3.0         1.4          0.3         setosa
47 5.1          3.8         1.6          0.2         setosa
48 4.6          3.2         1.4          0.2         setosa
49 5.3          3.7         1.5          0.2         setosa
50 5.0          3.3         1.4          0.2         setosa

In [12]:
iris %>% filter(Species == 'setosa')

   Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1  5.1          3.5         1.4          0.2         setosa
2  4.9          3.0         1.4          0.2         setosa
3  4.7          3.2         1.3          0.2         setosa
4  4.6          3.1         1.5          0.2         setosa
5  5.0          3.6         1.4          0.2         setosa
6  5.4          3.9         1.7          0.4         setosa
7  4.6          3.4         1.4          0.3         setosa
8  5.0          3.4         1.5          0.2         setosa
9  4.4          2.9         1.4          0.2         setosa
10 4.9          3.1         1.5          0.1         setosa
11 5.4          3.7         1.5          0.2         setosa
12 4.8          3.4         1.6          0.2         setosa
13 4.8          3.0         1.4          0.1         setosa
14 4.3          3.0         1.1          0.1         setosa
15 5.8          4.0         1.2          0.2         setosa
16 5.7          4.4         1.5          0.4         setosa
17 5.4          3.9         1.3          0.4         setosa
18 5.1          3.5         1.4          0.3         setosa
19 5.7          3.8         1.7          0.3         setosa
20 5.1          3.8         1.5          0.3         setosa
21 5.4          3.4         1.7          0.2         setosa
22 5.1          3.7         1.5          0.4         setosa
23 4.6          3.6         1.0          0.2         setosa
24 5.1          3.3         1.7          0.5         setosa
25 4.8          3.4         1.9          0.2         setosa
26 5.0          3.0         1.6          0.2         setosa
27 5.0          3.4         1.6          0.4         setosa
28 5.2          3.5         1.5          0.2         setosa
29 5.2          3.4         1.4          0.2         setosa
30 4.7          3.2         1.6          0.2         setosa
31 4.8          3.1         1.6          0.2         setosa
32 5.4          3.4         1.5          0.4         setosa
33 5.2          4.1         1.5          0.1         setosa
34 5.5          4.2         1.4          0.2         setosa
35 4.9          3.1         1.5          0.2         setosa
36 5.0          3.2         1.2          0.2         setosa
37 5.5          3.5         1.3          0.2         setosa
38 4.9          3.6         1.4          0.1         setosa
39 4.4          3.0         1.3          0.2         setosa
40 5.1          3.4         1.5          0.2         setosa
41 5.0          3.5         1.3          0.3         setosa
42 4.5          2.3         1.3          0.3         setosa
43 4.4          3.2         1.3          0.2         setosa
44 5.0          3.5         1.6          0.6         setosa
45 5.1          3.8         1.9          0.4         setosa
46 4.8          3.0         1.4          0.3         setosa
47 5.1          3.8         1.6          0.2         setosa
48 4.6          3.2         1.4          0.2         setosa
49 5.3          3.7         1.5          0.2         setosa
50 5.0          3.3         1.4          0.2         setosa

### Data- and env-variables

The key idea behind data masking is that it blurs the line between the two different meanings of the word “variable”:

* `env-variables` are “programming” variables that live in an environment. They are usually created with `<-`.

* `data-variables` are “statistical” variables that live in a data frame. They usually come from data files (e.g. `.csv`, `.xls`), or are created manipulating existing variables.

In [13]:
df <- data.frame(x = runif(3), y = runif(3))
df$x

[1] 0.9920476 0.4803428 0.5210881

It creates a env-variable, `df`, that contains two data-variables, `x` and `y`. Then it extracts the data-variable `x` out of the env-variable df using `$`.

### Indirection

* When you have the data-variable in a function argument (i.e. an env-variable that holds a promise2), you need to embrace the argument by surrounding it in doubled braces, like `filter(df, {{ var }})`.

In [15]:
my_count <- function(data, var) data %>% count({{var}})

mpg %>% count(manufacturer)

   manufacturer n
1  audi         18
2  chevrolet    19
3  dodge        37
4  ford         25
5  honda         9
6  hyundai      14
7  jeep          8
8  land rover    4
9  lincoln       3
10 mercury       4
11 nissan       13
12 pontiac       5
13 subaru       14
14 toyota       34
15 volkswagen   27

When you have an env-variable that is a character vector, you need to index into the `.data` pronoun with `[[`, like `summarise(df, mean = mean(.data[[var]])`).

In [18]:
for(var in colnames(mtcars))
    mtcars %>% count(.data[[var]]) %>% print()

    mpg n
1  10.4 2
2  13.3 1
3  14.3 1
4  14.7 1
5  15.0 1
6  15.2 2
7  15.5 1
8  15.8 1
9  16.4 1
10 17.3 1
11 17.8 1
12 18.1 1
13 18.7 1
14 19.2 2
15 19.7 1
16 21.0 2
17 21.4 2
18 21.5 1
19 22.8 2
20 24.4 1
21 26.0 1
22 27.3 1
23 30.4 2
24 32.4 1
25 33.9 1
  cyl  n
1   4 11
2   6  7
3   8 14
    disp n
1   71.1 1
2   75.7 1
3   78.7 1
4   79.0 1
5   95.1 1
6  108.0 1
7  120.1 1
8  120.3 1
9  121.0 1
10 140.8 1
11 145.0 1
12 146.7 1
13 160.0 2
14 167.6 2
15 225.0 1
16 258.0 1
17 275.8 3
18 301.0 1
19 304.0 1
20 318.0 1
21 350.0 1
22 351.0 1
23 360.0 2
24 400.0 1
25 440.0 1
26 460.0 1
27 472.0 1
    hp n
1   52 1
2   62 1
3   65 1
4   66 2
5   91 1
6   93 1
7   95 1
8   97 1
9  105 1
10 109 1
11 110 3
12 113 1
13 123 2
14 150 2
15 175 3
16 180 3
17 205 1
18 215 1
19 230 1
20 245 2
21 264 1
22 335 1
   drat n
1  2.76 2
2  2.93 1
3  3.00 1
4  3.07 3
5  3.08 2
6  3.15 2
7  3.21 1
8  3.23 1
9  3.54 1
10 3.62 1
11 3.69 1
12 3.70 1
13 3.73 1
14 3.77 1
15 3.85 1
16 3.90 2
17 3.92 3
18 4.08 2
19 4.11 1
20 4.22 2
21 4.43 1
22 4.93 1
      wt n
1  1.513 1
2  1.615 1
3  1.835 1
4  1.935 1
5  2.140 1
6  2.200 1
7  2.320 1
8  2.465 1
9  2.620 1
10 2.770 1
11 2.780 1
12 2.875 1
13 3.150 1
14 3.170 1
15 3.190 1
16 3.215 1
17 3.435 1
18 3.440 3
19 3.460 1
20 3.520 1
21 3.570 2
22 3.730 1
23 3.780 1
24 3.840 1
25 3.845 1
26 4.070 1
27 5.250 1
28 5.345 1
29 5.424 1
    qsec n
1  14.50 1
2  14.60 1
3  15.41 1
4  15.50 1
5  15.84 1
6  16.46 1
7  16.70 1
8  16.87 1
9  16.90 1
10 17.02 2
11 17.05 1
12 17.30 1
13 17.40 1
14 17.42 1
15 17.60 1
16 17.82 1
17 17.98 1
18 18.00 1
19 18.30 1
20 18.52 1
21 18.60 1
22 18.61 1
23 18.90 2
24 19.44 1
25 19.47 1
26 19.90 1
27 20.00 1
28 20.01 1
29 20.22 1
30 22.90 1
  vs  n
1  0 18
2  1 14
  am  n
1  0 19
2  1 13
  gear  n
1    3 15
2    4 12
3    5  5
  carb  n
1    1  7
2    2 10
3    3  3
4    4 10
5    6  1
6    8  1

Note that `.data` is not a data frame; it’s a special construct, a pronoun, that allows you to access the current variables either directly, with `.data$x` or indirectly with `.data[[var]]`. Don’t expect other functions to work with it.

# Tidy select

Underneath all functions that use tidy selection is the **`tidyselect`** package.

### Indirection

* When you have the data-variable in an env-variable that is a function argument, you use the same technique as data masking: you embrace the argument by surrounding it in doubled braces.

In [20]:
my_select <- function(data, cols) data %>% select({{cols}})

iris %>% my_select(!Species) %>% colnames()

[1] "Sepal.Length" "Sepal.Width"  "Petal.Length" "Petal.Width"

* When you have an env-variable that is a character vector, you need to use `all_of()` or `any_of()` depending on whether you want the function to error if a variable is not found.

In [23]:
my_select_str_any <- function(data, cols) data %>% select(any_of(cols))

iris %>% my_select_str_any(c('Species', 'fucking ignore this')) %>% colnames()

[1] "Species"

# How to

Read the article. Most of thing we know. Below will be things that worth noticing

If you want to use the names of variables in the output, you can use **`glue`** syntax in conjunction with `:=`:

In [26]:
my_summary <- function(data, mean_var, sd_var)
    data %>% summarize(
        'mean_{{mean_var}}' := mean({{mean_var}}), 
        'sd_{{sd_var}}' := sd({{sd_var}}))

iris %>% my_summary(Sepal.Length, Petal.Length)

  mean_Sepal.Length sd_Petal.Length
1 5.843333          1.765298

If you want to take an arbitrary number of user supplied expressions, use `...`

In [38]:
my_count <- function(data, ...) 
    data %>% count(..., sort = T)

In [39]:
mpg %>% my_count(manufacturer)

   manufacturer n
1  dodge        37
2  toyota       34
3  volkswagen   27
4  ford         25
5  chevrolet    19
6  audi         18
7  hyundai      14
8  subaru       14
9  nissan       13
10 honda         9
11 jeep          8
12 pontiac       5
13 land rover    4
14 mercury       4
15 lincoln       3

In [42]:
mpg %>% my_count(manufacturer, model)

   manufacturer model                  n
1  dodge        caravan 2wd            11
2  dodge        ram 1500 pickup 4wd    10
3  dodge        dakota pickup 4wd       9
4  ford         mustang                 9
5  honda        civic                   9
6  volkswagen   jetta                   9
7  audi         a4 quattro              8
8  jeep         grand cherokee 4wd      8
9  subaru       impreza awd             8
10 audi         a4                      7
11 dodge        durango 4wd             7
12 ford         f150 pickup 4wd         7
13 hyundai      sonata                  7
14 hyundai      tiburon                 7
15 toyota       camry                   7
16 toyota       camry solara            7
17 toyota       toyota tacoma 4wd       7
18 volkswagen   passat                  7
19 ford         explorer 4wd            6
20 nissan       altima                  6
21 subaru       forester awd            6
22 toyota       4runner 4wd             6
23 volkswagen   new beetle              6
24 chevrolet    c1500 suburban 2wd      5
25 chevrolet    corvette                5
26 chevrolet    malibu                  5
27 pontiac      grand prix              5
28 toyota       corolla                 5
29 volkswagen   gti                     5
30 chevrolet    k1500 tahoe 4wd         4
31 land rover   range rover             4
32 mercury      mountaineer 4wd         4
33 nissan       pathfinder 4wd          4
34 audi         a6 quattro              3
35 ford         expedition 2wd          3
36 lincoln      navigator 2wd           3
37 nissan       maxima                  3
38 toyota       land cruiser wagon 4wd  2

If you want the user to provide a set of data-variables that are then transformed, use `across()`:

In [45]:
my_summarise <- function(data, summary_vars) {
  data %>%
    summarise(across({{ summary_vars }}, ~ mean(., na.rm = TRUE)))
}

starwars %>% 
  group_by(species) %>% 
  my_summarise(c(mass, height))

`summarise()` ungrouping output (override with `.groups` argument)

   species        mass       height
1  Aleena           15.00000  79.0000
2  Besalisk        102.00000 198.0000
3  Cerean           82.00000 198.0000
4  Chagrian              NaN 196.0000
5  Clawdite         55.00000 168.0000
6  Droid            69.75000 131.2000
7  Dug              40.00000 112.0000
8  Ewok             20.00000  88.0000
9  Geonosian        80.00000 183.0000
10 Gungan           74.00000 208.6667
11 Human            82.78182 176.6452
12 Hutt           1358.00000 175.0000
13 Iktotchi              NaN 188.0000
14 Kaleesh         159.00000 216.0000
15 Kaminoan         88.00000 221.0000
16 Kel Dor          80.00000 188.0000
17 Mirialan         53.10000 168.0000
18 Mon Calamari     83.00000 180.0000
19 Muun                  NaN 191.0000
20 Nautolan         87.00000 196.0000
21 Neimodian        90.00000 191.0000
22 Pau'an           80.00000 206.0000
23 Quermian              NaN 264.0000
24 Rodian           74.00000 173.0000
25 Skakoan          48.00000 193.0000
26 Sullustan        68.00000 160.0000
27 Tholothian       50.00000 184.0000
28 Togruta          57.00000 178.0000
29 Toong            65.00000 163.0000
30 Toydarian             NaN 137.0000
31 Trandoshan      113.00000 190.0000
32 Twi'lek          55.00000 179.0000
33 Vulptereen       45.00000  94.0000
34 Wookiee         124.00000 231.0000
35 Xexto                 NaN 122.0000
36 Yoda's species   17.00000  66.0000
37 Zabrak           80.00000 173.0000
38 NA               48.00000 181.3333