In [1]:
library(dslabs) #loading library `dslabs`
data(murders) #dataset `murders`

In [2]:
#loading this library for functions
library(dplyr)

Attaching package: ‘dplyr’


The following objects are masked from ‘package:stats’:

    filter, lag


The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

mutate
filter
select
%>%
To change a data table by adding a new column, or changing an existing one, we use the mutate() function.
To filter them data by subsetting rows, we use the function filter().
To subset the data by selecting specific columns, we use the select() function.
We can perform a series of operations by sending the results of one function to another function using the pipe operator, %>%.
Code

In [3]:
head(murders)

  state      abb region population total
1 Alabama    AL  South   4779736    135
2 Alaska     AK  West     710231     19
3 Arizona    AZ  West    6392017    232
4 Arkansas   AR  South   2915918     93
5 California CA  West   37253956   1257
6 Colorado   CO  West    5029196     65

# Selection

In [4]:
#read the full documentation for detail
help(select)

In [5]:
args(select)

function (.data, ...)
NULL

Tidyverse selections implement a dialect of R where operators make it easy to select variables:

`:` for selecting a range of consecutive variables.

`!` for taking the complement of a set of variables.

`&` and `|` for selecting the intersection or the union of two sets of variables.

`c()` for combining selections.

**`select()`**: chosing specific columns

In [6]:
#select column state, region, total
select(murders, state, region, total)

   state                region        total
1  Alabama              South          135
2  Alaska               West            19
3  Arizona              West           232
4  Arkansas             South           93
5  California           West          1257
6  Colorado             West            65
7  Connecticut          Northeast       97
8  Delaware             South           38
9  District of Columbia South           99
10 Florida              South          669
11 Georgia              South          376
12 Hawaii               West             7
13 Idaho                West            12
14 Illinois             North Central  364
15 Indiana              North Central  142
16 Iowa                 North Central   21
17 Kansas               North Central   63
18 Kentucky             South          116
19 Louisiana            South          351
20 Maine                Northeast       11
21 Maryland             South          293
22 Massachusetts        Northeast      118
23 Michigan             North Central  413
24 Minnesota            North Central   53
25 Mississippi          South          120
26 Missouri             North Central  321
27 Montana              West            12
28 Nebraska             North Central   32
29 Nevada               West            84
30 New Hampshire        Northeast        5
31 New Jersey           Northeast      246
32 New Mexico           West            67
33 New York             Northeast      517
34 North Carolina       South          286
35 North Dakota         North Central    4
36 Ohio                 North Central  310
37 Oklahoma             South          111
38 Oregon               West            36
39 Pennsylvania         Northeast      457
40 Rhode Island         Northeast       16
41 South Carolina       South          207
42 South Dakota         North Central    8
43 Tennessee            South          219
44 Texas                South          805
45 Utah                 West            22
46 Vermont              Northeast        2
47 Virginia             South          250
48 Washington           West            93
49 West Virginia        South           27
50 Wisconsin            North Central   97
51 Wyoming              West             5

In [7]:
#equivalent using pipe
murders %>% select(state, region, total)

   state                region        total
1  Alabama              South          135
2  Alaska               West            19
3  Arizona              West           232
4  Arkansas             South           93
5  California           West          1257
6  Colorado             West            65
7  Connecticut          Northeast       97
8  Delaware             South           38
9  District of Columbia South           99
10 Florida              South          669
11 Georgia              South          376
12 Hawaii               West             7
13 Idaho                West            12
14 Illinois             North Central  364
15 Indiana              North Central  142
16 Iowa                 North Central   21
17 Kansas               North Central   63
18 Kentucky             South          116
19 Louisiana            South          351
20 Maine                Northeast       11
21 Maryland             South          293
22 Massachusetts        Northeast      118
23 Michigan             North Central  413
24 Minnesota            North Central   53
25 Mississippi          South          120
26 Missouri             North Central  321
27 Montana              West            12
28 Nebraska             North Central   32
29 Nevada               West            84
30 New Hampshire        Northeast        5
31 New Jersey           Northeast      246
32 New Mexico           West            67
33 New York             Northeast      517
34 North Carolina       South          286
35 North Dakota         North Central    4
36 Ohio                 North Central  310
37 Oklahoma             South          111
38 Oregon               West            36
39 Pennsylvania         Northeast      457
40 Rhode Island         Northeast       16
41 South Carolina       South          207
42 South Dakota         North Central    8
43 Tennessee            South          219
44 Texas                South          805
45 Utah                 West            22
46 Vermont              Northeast        2
47 Virginia             South          250
48 Washington           West            93
49 West Virginia        South           27
50 Wisconsin            North Central   97
51 Wyoming              West             5

In [8]:
#slicing
murders %>% select(abb:population)

   abb region        population
1  AL  South          4779736
2  AK  West            710231
3  AZ  West           6392017
4  AR  South          2915918
5  CA  West          37253956
6  CO  West           5029196
7  CT  Northeast      3574097
8  DE  South           897934
9  DC  South           601723
10 FL  South         19687653
11 GA  South          9920000
12 HI  West           1360301
13 ID  West           1567582
14 IL  North Central 12830632
15 IN  North Central  6483802
16 IA  North Central  3046355
17 KS  North Central  2853118
18 KY  South          4339367
19 LA  South          4533372
20 ME  Northeast      1328361
21 MD  South          5773552
22 MA  Northeast      6547629
23 MI  North Central  9883640
24 MN  North Central  5303925
25 MS  South          2967297
26 MO  North Central  5988927
27 MT  West            989415
28 NE  North Central  1826341
29 NV  West           2700551
30 NH  Northeast      1316470
31 NJ  Northeast      8791894
32 NM  West           2059179
33 NY  Northeast     19378102
34 NC  South          9535483
35 ND  North Central   672591
36 OH  North Central 11536504
37 OK  South          3751351
38 OR  West           3831074
39 PA  Northeast     12702379
40 RI  Northeast      1052567
41 SC  South          4625364
42 SD  North Central   814180
43 TN  South          6346105
44 TX  South         25145561
45 UT  West           2763885
46 VT  Northeast       625741
47 VA  South          8001024
48 WA  West           6724540
49 WV  South          1852994
50 WI  North Central  5686986
51 WY  West            563626

In [9]:
#select columns that are not abb, region, population
murders %>% select(!(abb:population))

   state                total
1  Alabama               135
2  Alaska                 19
3  Arizona               232
4  Arkansas               93
5  California           1257
6  Colorado               65
7  Connecticut            97
8  Delaware               38
9  District of Columbia   99
10 Florida               669
11 Georgia               376
12 Hawaii                  7
13 Idaho                  12
14 Illinois              364
15 Indiana               142
16 Iowa                   21
17 Kansas                 63
18 Kentucky              116
19 Louisiana             351
20 Maine                  11
21 Maryland              293
22 Massachusetts         118
23 Michigan              413
24 Minnesota              53
25 Mississippi           120
26 Missouri              321
27 Montana                12
28 Nebraska               32
29 Nevada                 84
30 New Hampshire           5
31 New Jersey            246
32 New Mexico             67
33 New York              517
34 North Carolina        286
35 North Dakota            4
36 Ohio                  310
37 Oklahoma              111
38 Oregon                 36
39 Pennsylvania          457
40 Rhode Island           16
41 South Carolina        207
42 South Dakota            8
43 Tennessee             219
44 Texas                 805
45 Utah                   22
46 Vermont                 2
47 Virginia              250
48 Washington             93
49 West Virginia          27
50 Wisconsin              97
51 Wyoming                 5

In [10]:
#select columns that are not abb, total
murders %>% select(!c(abb, total))

   state                region        population
1  Alabama              South          4779736
2  Alaska               West            710231
3  Arizona              West           6392017
4  Arkansas             South          2915918
5  California           West          37253956
6  Colorado             West           5029196
7  Connecticut          Northeast      3574097
8  Delaware             South           897934
9  District of Columbia South           601723
10 Florida              South         19687653
11 Georgia              South          9920000
12 Hawaii               West           1360301
13 Idaho                West           1567582
14 Illinois             North Central 12830632
15 Indiana              North Central  6483802
16 Iowa                 North Central  3046355
17 Kansas               North Central  2853118
18 Kentucky             South          4339367
19 Louisiana            South          4533372
20 Maine                Northeast      1328361
21 Maryland             South          5773552
22 Massachusetts        Northeast      6547629
23 Michigan             North Central  9883640
24 Minnesota            North Central  5303925
25 Mississippi          South          2967297
26 Missouri             North Central  5988927
27 Montana              West            989415
28 Nebraska             North Central  1826341
29 Nevada               West           2700551
30 New Hampshire        Northeast      1316470
31 New Jersey           Northeast      8791894
32 New Mexico           West           2059179
33 New York             Northeast     19378102
34 North Carolina       South          9535483
35 North Dakota         North Central   672591
36 Ohio                 North Central 11536504
37 Oklahoma             South          3751351
38 Oregon               West           3831074
39 Pennsylvania         Northeast     12702379
40 Rhode Island         Northeast      1052567
41 South Carolina       South          4625364
42 South Dakota         North Central   814180
43 Tennessee            South          6346105
44 Texas                South         25145561
45 Utah                 West           2763885
46 Vermont              Northeast       625741
47 Virginia             South          8001024
48 Washington           West           6724540
49 West Virginia        South          1852994
50 Wisconsin            North Central  5686986
51 Wyoming              West            563626

In [11]:
#select columns starts with 't' or 'p'
murders %>% select(starts_with('p') | starts_with('t'))

   population total
1   4779736    135
2    710231     19
3   6392017    232
4   2915918     93
5  37253956   1257
6   5029196     65
7   3574097     97
8    897934     38
9    601723     99
10 19687653    669
11  9920000    376
12  1360301      7
13  1567582     12
14 12830632    364
15  6483802    142
16  3046355     21
17  2853118     63
18  4339367    116
19  4533372    351
20  1328361     11
21  5773552    293
22  6547629    118
23  9883640    413
24  5303925     53
25  2967297    120
26  5988927    321
27   989415     12
28  1826341     32
29  2700551     84
30  1316470      5
31  8791894    246
32  2059179     67
33 19378102    517
34  9535483    286
35   672591      4
36 11536504    310
37  3751351    111
38  3831074     36
39 12702379    457
40  1052567     16
41  4625364    207
42   814180      8
43  6346105    219
44 25145561    805
45  2763885     22
46   625741      2
47  8001024    250
48  6724540     93
49  1852994     27
50  5686986     97
51   563626      5

# Mutation: Adding, modifying and removing rows, columns

**`mutate()`**

In [12]:
#adding column rate = total / population * 1000000
#adding a column rank to rank from highest rate to lowest rate

mutate(murders, rate = total / population * 100000, rank = rank(-rate))

   state                abb region        population total rate       rank
1  Alabama              AL  South          4779736    135   2.8244238 23
2  Alaska               AK  West            710231     19   2.6751860 27
3  Arizona              AZ  West           6392017    232   3.6295273 10
4  Arkansas             AR  South          2915918     93   3.1893901 17
5  California           CA  West          37253956   1257   3.3741383 14
6  Colorado             CO  West           5029196     65   1.2924531 38
7  Connecticut          CT  Northeast      3574097     97   2.7139722 25
8  Delaware             DE  South           897934     38   4.2319369  6
9  District of Columbia DC  South           601723     99  16.4527532  1
10 Florida              FL  South         19687653    669   3.3980688 13
11 Georgia              GA  South          9920000    376   3.7903226  9
12 Hawaii               HI  West           1360301      7   0.5145920 49
13 Idaho                ID  West           1567582     12   0.7655102 46
14 Illinois             IL  North Central 12830632    364   2.8369608 22
15 Indiana              IN  North Central  6483802    142   2.1900730 31
16 Iowa                 IA  North Central  3046355     21   0.6893484 47
17 Kansas               KS  North Central  2853118     63   2.2081106 30
18 Kentucky             KY  South          4339367    116   2.6732010 28
19 Louisiana            LA  South          4533372    351   7.7425810  2
20 Maine                ME  Northeast      1328361     11   0.8280881 44
21 Maryland             MD  South          5773552    293   5.0748655  4
22 Massachusetts        MA  Northeast      6547629    118   1.8021791 32
23 Michigan             MI  North Central  9883640    413   4.1786225  7
24 Minnesota            MN  North Central  5303925     53   0.9992600 40
25 Mississippi          MS  South          2967297    120   4.0440846  8
26 Missouri             MO  North Central  5988927    321   5.3598917  3
27 Montana              MT  West            989415     12   1.2128379 39
28 Nebraska             NE  North Central  1826341     32   1.7521372 33
29 Nevada               NV  West           2700551     84   3.1104763 19
30 New Hampshire        NH  Northeast      1316470      5   0.3798036 50
31 New Jersey           NJ  Northeast      8791894    246   2.7980319 24
32 New Mexico           NM  West           2059179     67   3.2537239 15
33 New York             NY  Northeast     19378102    517   2.6679599 29
34 North Carolina       NC  South          9535483    286   2.9993237 20
35 North Dakota         ND  North Central   672591      4   0.5947151 48
36 Ohio                 OH  North Central 11536504    310   2.6871225 26
37 Oklahoma             OK  South          3751351    111   2.9589340 21
38 Oregon               OR  West           3831074     36   0.9396843 42
39 Pennsylvania         PA  Northeast     12702379    457   3.5977513 11
40 Rhode Island         RI  Northeast      1052567     16   1.5200933 35
41 South Carolina       SC  South          4625364    207   4.4753235  5
42 South Dakota         SD  North Central   814180      8   0.9825837 41
43 Tennessee            TN  South          6346105    219   3.4509357 12
44 Texas                TX  South         25145561    805   3.2013603 16
45 Utah                 UT  West           2763885     22   0.7959810 45
46 Vermont              VT  Northeast       625741      2   0.3196211 51
47 Virginia             VA  South          8001024    250   3.1246001 18
48 Washington           WA  West           6724540     93   1.3829942 37
49 West Virginia        WV  South          1852994     27   1.4571013 36
50 Wisconsin            WI  North Central  5686986     97   1.7056487 34
51 Wyoming              WY  West            563626      5   0.8871131 43

In [13]:
#equivalent using pipe
murders %>% mutate(rate = total / population * 100000, rank = rank(-rate))

   state                abb region        population total rate       rank
1  Alabama              AL  South          4779736    135   2.8244238 23
2  Alaska               AK  West            710231     19   2.6751860 27
3  Arizona              AZ  West           6392017    232   3.6295273 10
4  Arkansas             AR  South          2915918     93   3.1893901 17
5  California           CA  West          37253956   1257   3.3741383 14
6  Colorado             CO  West           5029196     65   1.2924531 38
7  Connecticut          CT  Northeast      3574097     97   2.7139722 25
8  Delaware             DE  South           897934     38   4.2319369  6
9  District of Columbia DC  South           601723     99  16.4527532  1
10 Florida              FL  South         19687653    669   3.3980688 13
11 Georgia              GA  South          9920000    376   3.7903226  9
12 Hawaii               HI  West           1360301      7   0.5145920 49
13 Idaho                ID  West           1567582     12   0.7655102 46
14 Illinois             IL  North Central 12830632    364   2.8369608 22
15 Indiana              IN  North Central  6483802    142   2.1900730 31
16 Iowa                 IA  North Central  3046355     21   0.6893484 47
17 Kansas               KS  North Central  2853118     63   2.2081106 30
18 Kentucky             KY  South          4339367    116   2.6732010 28
19 Louisiana            LA  South          4533372    351   7.7425810  2
20 Maine                ME  Northeast      1328361     11   0.8280881 44
21 Maryland             MD  South          5773552    293   5.0748655  4
22 Massachusetts        MA  Northeast      6547629    118   1.8021791 32
23 Michigan             MI  North Central  9883640    413   4.1786225  7
24 Minnesota            MN  North Central  5303925     53   0.9992600 40
25 Mississippi          MS  South          2967297    120   4.0440846  8
26 Missouri             MO  North Central  5988927    321   5.3598917  3
27 Montana              MT  West            989415     12   1.2128379 39
28 Nebraska             NE  North Central  1826341     32   1.7521372 33
29 Nevada               NV  West           2700551     84   3.1104763 19
30 New Hampshire        NH  Northeast      1316470      5   0.3798036 50
31 New Jersey           NJ  Northeast      8791894    246   2.7980319 24
32 New Mexico           NM  West           2059179     67   3.2537239 15
33 New York             NY  Northeast     19378102    517   2.6679599 29
34 North Carolina       NC  South          9535483    286   2.9993237 20
35 North Dakota         ND  North Central   672591      4   0.5947151 48
36 Ohio                 OH  North Central 11536504    310   2.6871225 26
37 Oklahoma             OK  South          3751351    111   2.9589340 21
38 Oregon               OR  West           3831074     36   0.9396843 42
39 Pennsylvania         PA  Northeast     12702379    457   3.5977513 11
40 Rhode Island         RI  Northeast      1052567     16   1.5200933 35
41 South Carolina       SC  South          4625364    207   4.4753235  5
42 South Dakota         SD  North Central   814180      8   0.9825837 41
43 Tennessee            TN  South          6346105    219   3.4509357 12
44 Texas                TX  South         25145561    805   3.2013603 16
45 Utah                 UT  West           2763885     22   0.7959810 45
46 Vermont              VT  Northeast       625741      2   0.3196211 51
47 Virginia             VA  South          8001024    250   3.1246001 18
48 Washington           WA  West           6724540     93   1.3829942 37
49 West Virginia        WV  South          1852994     27   1.4571013 36
50 Wisconsin            WI  North Central  5686986     97   1.7056487 34
51 Wyoming              WY  West            563626      5   0.8871131 43

<hr>

**`transmute()`**

`mutate()` will always return the new variables appended to a copy of the original data. If you want to return only the new variables, use `transmute()`

In [14]:
murders %>% transmute(rate = total / population * 10000, rank = min_rank(desc(rate)))

   rate       rank
1  0.28244238 23
2  0.26751860 27
3  0.36295273 10
4  0.31893901 17
5  0.33741383 14
6  0.12924531 38
7  0.27139722 25
8  0.42319369  6
9  1.64527532  1
10 0.33980688 13
11 0.37903226  9
12 0.05145920 49
13 0.07655102 46
14 0.28369608 22
15 0.21900730 31
16 0.06893484 47
17 0.22081106 30
18 0.26732010 28
19 0.77425810  2
20 0.08280881 44
21 0.50748655  4
22 0.18021791 32
23 0.41786225  7
24 0.09992600 40
25 0.40440846  8
26 0.53598917  3
27 0.12128379 39
28 0.17521372 33
29 0.31104763 19
30 0.03798036 50
31 0.27980319 24
32 0.32537239 15
33 0.26679599 29
34 0.29993237 20
35 0.05947151 48
36 0.26871225 26
37 0.29589340 21
38 0.09396843 42
39 0.35977513 11
40 0.15200933 35
41 0.44753235  5
42 0.09825837 41
43 0.34509357 12
44 0.32013603 16
45 0.07959810 45
46 0.03196211 51
47 0.31246001 18
48 0.13829942 37
49 0.14571013 36
50 0.17056487 34
51 0.08871131 43

# Filter

**`filter()`**

In [15]:
#select states in 'Southeast' or 'West'
filter(murders, region %in% c('Southeast', 'West'))

   state      abb region population total
1  Alaska     AK  West     710231     19
2  Arizona    AZ  West    6392017    232
3  California CA  West   37253956   1257
4  Colorado   CO  West    5029196     65
5  Hawaii     HI  West    1360301      7
6  Idaho      ID  West    1567582     12
7  Montana    MT  West     989415     12
8  Nevada     NV  West    2700551     84
9  New Mexico NM  West    2059179     67
10 Oregon     OR  West    3831074     36
11 Utah       UT  West    2763885     22
12 Washington WA  West    6724540     93
13 Wyoming    WY  West     563626      5

# Pipe

In [16]:
#adding column rate and rank
#filter states having rate < 1
#then output the values of column state, rate, rank

murders %>% mutate(rate = total / population * 10000, rank = rank(-rate)) %>% filter(rate < 1) %>% select(state, rate, rank)

   state          rate       rank
1  Alabama        0.28244238 23
2  Alaska         0.26751860 27
3  Arizona        0.36295273 10
4  Arkansas       0.31893901 17
5  California     0.33741383 14
6  Colorado       0.12924531 38
7  Connecticut    0.27139722 25
8  Delaware       0.42319369  6
9  Florida        0.33980688 13
10 Georgia        0.37903226  9
11 Hawaii         0.05145920 49
12 Idaho          0.07655102 46
13 Illinois       0.28369608 22
14 Indiana        0.21900730 31
15 Iowa           0.06893484 47
16 Kansas         0.22081106 30
17 Kentucky       0.26732010 28
18 Louisiana      0.77425810  2
19 Maine          0.08280881 44
20 Maryland       0.50748655  4
21 Massachusetts  0.18021791 32
22 Michigan       0.41786225  7
23 Minnesota      0.09992600 40
24 Mississippi    0.40440846  8
25 Missouri       0.53598917  3
26 Montana        0.12128379 39
27 Nebraska       0.17521372 33
28 Nevada         0.31104763 19
29 New Hampshire  0.03798036 50
30 New Jersey     0.27980319 24
31 New Mexico     0.32537239 15
32 New York       0.26679599 29
33 North Carolina 0.29993237 20
34 North Dakota   0.05947151 48
35 Ohio           0.26871225 26
36 Oklahoma       0.29589340 21
37 Oregon         0.09396843 42
38 Pennsylvania   0.35977513 11
39 Rhode Island   0.15200933 35
40 South Carolina 0.44753235  5
41 South Dakota   0.09825837 41
42 Tennessee      0.34509357 12
43 Texas          0.32013603 16
44 Utah           0.07959810 45
45 Vermont        0.03196211 51
46 Virginia       0.31246001 18
47 Washington     0.13829942 37
48 West Virginia  0.14571013 36
49 Wisconsin      0.17056487 34
50 Wyoming        0.08871131 43


# Offset

**`lead()`** and **`lag()`**

# Ranking

min_rank, percent_rank, row_number, dense_rank, cum_dist, ntitle

# Aggregate

**`summarize`**

In [17]:
#Can only use functions that returns a single value
s <- heights %>% summarize(mean = mean(height), standard_deviation = sd(height))
s

  mean     standard_deviation
1 68.32301 4.078617

In [18]:
s$mean

[1] 68.32301

# Group by

**`group_by`**, **`ungroup`**

In [19]:
heights %>% group_by(sex) %>% summarize(mean = mean(height), standard_deviation = sd(height))

`summarise()` ungrouping output (override with `.groups` argument)

  sex    mean     standard_deviation
1 Female 64.93942 3.760656
2 Male   69.31475 3.611024

# Counting

**`n()`**

# Funcions

measure of location: mean, median
measure of spread: md, mad, IQR
measure of rank: min, quantile, max
measure of position: first, nth, last
count: n(), n_distinct(), count()

not_cancelled

# The Dot placeholder

In [20]:
#get the values of column `height` in dataframe `heights`
heights %>% .$height

   [1] 75.00000 70.00000 68.00000 74.00000 61.00000 65.00000 66.00000 62.00000
   [9] 66.00000 67.00000 72.00000 72.00000 69.00000 68.00000 69.00000 66.00000
  [17] 75.00000 64.00000 60.00000 67.00000 66.00000 64.00000 70.00000 73.00000
  [25] 72.00000 69.00000 69.00000 72.00000 64.00000 72.00000 75.00000 71.00000
  [33] 67.00000 66.00000 67.00000 69.00000 68.00000 66.75000 72.00000 63.00000
  [41] 69.00000 68.00000 63.00000 60.00000 73.00000 74.00000 74.00000 66.00000
  [49] 68.00000 73.00000 70.00000 68.00000 73.00000 70.50000 64.96063 71.00000
  [57] 70.00000 67.00000 69.00000 67.00000 69.00000 73.00000 74.00000 70.00000
  [65] 66.00000 72.00000 65.00000 65.00000 70.00000 73.00000 67.00000 72.00000
  [73] 68.00000 68.00000 65.00000 72.00000 71.00000 65.00000 72.00000 69.00000
  [81] 70.00000 72.00000 72.00000 62.00000 65.00000 70.00000 60.00000 67.00000
  [89] 62.00000 71.00000 63.00000 68.00000 64.17320 64.00000 71.00000 68.50000
  [97] 62.00000 78.74016 70.00000 72.00000 71.00000 71.00000 69.60000 65.00000
 [105] 70.00000 61.00000 63.00000 70.00000 67.00000 62.00000 68.00000 73.00000
 [113] 66.50000 69.00000 74.00000 71.50000 76.00000 69.00000 74.00000 74.50000
 [121] 69.00000 66.00000 64.00000 78.00000 67.00000 69.00000 67.00000 63.00000
 [129] 74.00000 62.00000 69.00000 64.00000 71.00000 62.50000 68.00000 67.00000
 [137] 71.00000 74.00000 75.00000 65.00000 68.00000 65.00000 66.00000 72.00000
 [145] 73.00000 71.00000 74.00000 63.00000 73.00000 68.00000 77.00000 70.50000
 [153] 63.00000 69.00000 69.00000 68.89000 66.50000 64.17300 63.00000 65.00000
 [161] 64.00000 63.00000 63.00000 69.00000 69.00000 64.00000 62.00000 70.00000
 [169] 70.00000 59.00000 65.00000 67.70000 72.00000 74.00000 71.70000 70.87000
 [177] 66.00000 72.00000 74.00000 69.00000 71.00000 70.00000 70.00000 64.00000
 [185] 68.11000 68.00000 66.00000 64.00000 67.00000 65.00000 72.00000 70.00000
 [193] 64.57000 51.00000 63.00000 70.00000 68.00000 67.00000 71.00000 69.00000
 [201] 63.00000 71.00000 70.00000 64.00000 70.00000 68.00000 66.00000 69.00000
 [209] 67.00000 65.00000 72.00000 72.00000 70.00000 75.00000 64.00000 66.00000
 [217] 68.00000 69.00000 73.00000 66.00000 71.00000 67.00000 70.00000 67.00000
 [225] 61.00000 64.00000 64.00000 65.00000 72.00000 70.00000 65.00000 69.00000
 [233] 68.00000 67.00000 59.00000 59.00000 72.00000 77.00000 72.00000 59.05512
 [241] 70.00000 69.00000 72.00000 69.00000 68.11000 68.11000 68.00000 65.00000
 [249] 67.00000 67.00000 68.00000 69.00000 80.00000 68.00000 68.00000 60.00000
 [257] 70.00000 60.00000 60.00000 64.96000 66.00000 68.89764 69.68504 68.00000
 [265] 70.00000 66.00000 66.00000 63.00000 72.00000 68.00000 72.00000 72.05000
 [273] 71.00000 72.50000 70.00000 72.00000 72.00000 68.00000 70.00000 69.00000
 [281] 80.00000 68.00000 66.00000 70.00000 65.00000 70.07874 75.00000 66.00000
 [289] 69.00000 53.00000 71.00000 70.00000 72.00000 68.50000 68.00000 64.17323
 [297] 68.00000 59.05510 66.92000 72.00000 72.00000 74.00000 68.89764 68.00000
 [305] 70.00000 69.00000 61.00000 74.00000 65.00000 72.00000 66.00000 68.00000
 [313] 61.00000 70.00000 65.00000 68.00000 70.07874 70.00000 71.00000 74.00000
 [321] 64.96063 71.00000 74.00000 64.00000 71.00000 66.00000 65.00000 64.96063
 [329] 74.00000 75.00000 70.86614 68.00000 62.00000 74.80000 69.00000 68.40000
 [337] 67.00000 65.00000 68.00000 67.00000 69.30000 66.53543 67.00000 67.00000
 [345] 73.00000 75.00000 70.00000 71.00000 64.00000 72.00000 70.00000 72.00000
 [353] 71.50000 72.00000 68.89760 68.00000 64.00000 69.00000 70.00000 75.00000
 [361] 67.00000 61.81102 73.00000 66.53543 63.00000 66.00000 72.04724 67.72000
 [369] 65.00000 69.00000 71.00000 66.00000 72.00000 72.40000 69.00000 72.00000
 [377] 79.05000 63.77953 70.07874 70.86614 66.40000 72.00000 70.00000 66.00000
 [385] 69.29000 66.92913 63.00000 66.14160 78.00000 75.00000 70.07874 70.00000
 [393] 66.00000 65.00000 71.00000 68.50000 65.00000 69.00000 74.80315 70.00000
 [401] 66.00000 66.00000 63.00000 71.00000 64.00000 70.00000 72.00000 72.44094
 [409] 67.00000 68.50000 68.00000 69.00000 70.00000 68.50000 53.77000 66.92000
 [417] 73.00000 68.00000 72.00000 70.00000 66.00000 71.50000 66.00000 72.44094
 [425] 72.00000 67.00000 72.00000 65.74803 72.00000 74.00000 72.00000 72.00000
 [433] 67.71650 71.00000 65.00000 72.00000 68.00000 71.00000 69.00000 63.00000
 [441] 71.00000 65.00000 62.00000 67.00000 70.86614 54.00000 65.00000 65.00000
 [449] 77.00000 67.00000 68.11020 69.00000 68.00000 62.00000 72.00000 70.00000
 [457] 71.00000 64.96100 64.00000 67.00000 70.86614 66.00000 72.04724 66.92913
 [465] 66.00000 66.00000 70.00000 66.00000 64.00000 72.00000 70.00000 67.71654
 [473] 75.00000 72.00000 72.00000 68.50000 66.00000 71.00000 71.00000 66.14173
 [481] 72.00000 64.00000 70.00000 67.00000 70.00000 70.00000 72.00000 63.00000
 [489] 65.00000 63.00000 66.92913 70.00000 70.80000 67.71654 68.00000 66.00000
 [497] 77.16540 65.00000 69.29134 67.50000 67.50000 68.00000 66.00000 74.00000
 [505] 72.00000 72.83000 77.00000 67.00000 70.00000 64.00000 65.00000 73.00000
 [513] 62.00000 66.70000 69.00000 67.00000 68.11024 69.00000 68.50394 69.29134
 [521] 68.89764 71.00000 64.00000 67.00000 70.00000 68.00000 67.78000 68.50000
 [529] 68.00000 67.71000 66.50000 69.00000 79.00000 64.00000 60.00000 72.00000
 [537] 61.00000 74.00000 66.00000 65.00000 67.00000 68.80000 69.00000 78.00000
 [545] 70.00000 66.00000 66.00000 74.00000 71.00000 73.00000 67.00000 72.00000
 [553] 70.00000 70.10000 62.00000 69.00000 65.00000 68.00000 72.00000 72.00000
 [561] 72.00000 63.00000 66.00000 67.00000 73.20000 64.00000 74.00000 73.62000
 [569] 72.00000 68.40000 69.00000 61.00000 67.00000 69.00000 66.00000 68.00000
 [577] 65.00000 68.90000 67.71000 67.00000 67.00000 59.00000 59.00000 67.00000
 [585] 72.04724 71.00000 67.71654 68.00000 66.90000 68.50000 74.00000 76.00000
 [593] 60.00000 69.00000 72.00000 69.00000 67.00000 70.00000 68.50000 70.00000
 [601] 67.00000 70.00000 69.00000 65.00000 68.90000 69.00000 66.14173 66.92910
 [609] 70.00000 77.00000 70.85000 66.92913 68.89764 64.00000 69.00000 67.00000
 [617] 72.00000 72.00000 67.00000 72.00000 72.00000 72.83000 70.00000 63.00000
 [625] 71.00000 72.00000 72.00000 72.44000 70.00000 68.00000 59.00000 71.00000
 [633] 61.32000 72.00000 68.00000 73.00000 71.00000 69.00000 71.00000 66.93000
 [641] 58.00000 55.00000 70.00000 66.00000 65.00000 72.00000 74.00000 71.00000
 [649] 69.00000 63.77953 71.00000 72.00000 68.00000 69.00000 70.00000 73.00000
 [657] 64.96063 72.44094 73.22000 64.00000 70.00000 75.00000 63.00000 72.05000
 [665] 72.00000 68.00000 75.00000 68.00000 68.11024 70.00000 66.14170 74.00000
 [673] 62.99213 68.00000 68.00000 70.00000 71.00000 67.71654 66.92913 70.00000
 [681] 70.08000 67.20000 69.00000 70.00000 69.00000 72.44000 69.00000 72.45000
 [689] 69.00000 67.00000 75.98000 71.00000 67.00000 71.00000 67.00000 65.00000
 [697] 62.00000 71.00000 74.00000 69.00000 72.00000 68.50394 66.92913 68.00000
 [705] 66.92910 63.00000 62.99213 70.00000 75.59055 68.00000 69.00000 71.00000
 [713] 71.00000 69.30000 65.74803 70.86600 67.00000 67.72000 70.00000 67.00000
 [721] 65.00000 67.00000 62.40000 71.00000 59.05512 72.00000 68.00000 75.00000
 [729] 72.00000 66.00000 71.00000 76.00000 69.00000 69.00000 66.92913 66.00000
 [737] 68.50394 69.29000 72.00000 68.00000 64.00000 66.00000 70.00000 67.00000
 [745] 75.60000 71.50000 72.00000 63.00000 62.00000 69.00000 68.00000 71.65000
 [753] 75.00000 68.89760 74.00000 65.00000 64.00000 68.00000 65.00000 64.00000
 [761] 67.00000 69.00000 68.00000 67.00000 68.89760 62.60000 70.00000 69.00000
 [769] 65.00000 63.00000 67.30000 64.20000 63.00000 61.00000 67.00000 71.00000
 [777] 61.00000 61.00000 68.11000 66.14000 67.50000 60.00000 67.00000 67.72000
 [785] 66.00000 67.00000 70.00000 66.00000 64.50000 68.00000 69.00000 68.00000
 [793] 71.00000 76.00000 70.86610 66.00000 67.00000 71.00000 62.50000 67.00000
 [801] 67.00000 67.71654 60.00000 67.00000 68.00000 75.00000 65.00000 65.00000
 [809] 64.00000 62.00000 70.86614 75.00000 71.00000 67.00000 72.00000 60.00000
 [817] 68.00000 64.00000 70.86614 70.86614 73.00000 75.40000 68.00000 70.00000
 [825] 69.00000 63.00000 62.00000 73.00000 72.00000 68.00000 61.00000 60.00000
 [833] 65.00000 63.00000 67.00000 69.00000 74.00000 68.00000 70.00000 73.00000
 [841] 70.00000 60.00000 66.00000 68.00000 67.00000 65.00000 71.00000 70.00000
 [849] 65.00000 72.83460 70.00000 70.00000 65.00000 70.00000 70.00000 67.70000
 [857] 62.00000 69.00000 69.00000 62.00000 74.00000 71.00000 70.00000 64.00000
 [865] 73.00000 70.00000 66.00000 66.00000 68.00000 62.00000 66.00000 64.00000
 [873] 67.00000 71.00000 78.00000 69.00000 67.00000 70.00000 65.00000 70.00000
 [881] 65.74803 71.00000 68.00000 67.00000 66.14173 64.00000 68.00000 60.00000
 [889] 64.00000 73.20000 72.00000 73.00000 71.00000 72.44000 67.00000 71.00000
 [897] 71.00000 68.89000 68.89000 70.07874 71.65354 69.00000 64.56693 66.00000
 [905] 68.00000 70.00000 70.00000 68.00000 70.10000 72.83465 72.00000 72.00000
 [913] 66.00000 66.00000 69.00000 66.00000 78.74000 67.00000 70.00000 67.00000
 [921] 66.00000 70.00000 72.83460 67.70000 72.00000 69.00000 65.00000 66.00000
 [929] 70.00000 67.71654 67.00000 72.00000 68.00000 69.00000 64.90000 62.99213
 [937] 75.00000 69.00000 64.96000 64.50000 64.00000 65.00000 70.00000 61.00000
 [945] 67.00000 59.84252 67.50000 70.86614 70.86000 68.89764 70.00000 62.20472
 [953] 68.11024 64.56693 76.00000 66.53543 70.00000 72.83465 66.14173 69.00000
 [961] 66.53543 65.00000 68.00000 68.50394 68.00000 68.11024 75.00000 69.00000
 [969] 70.47244 66.00000 69.00000 67.00000 68.89000 73.22000 66.00000 65.00000
 [977] 72.00000 75.00000 72.00000 66.92913 52.00000 52.00000 79.00000 70.00000
 [985] 72.00000 67.71654 64.00000 68.11000 67.00000 62.20472 75.00000 75.00000
 [993] 81.00000 69.00000 68.89764 62.59843 76.00000 74.80315 69.60000 67.00000
[1001] 63.00000 70.00000 72.44000 66.00000 66.92913 62.20472 73.00000 72.00000
[1009] 60.00000 76.00000 65.00000 66.00000 70.86614 68.90000 71.00000 64.00000
[1017] 82.67717 72.00000 68.00000 67.00000 69.00000 64.20000 72.00000 63.00000
[1025] 63.77953 66.00000 66.92913 74.00000 72.00000 67.00000 71.00000 50.00000
[1033] 66.92913 61.81102 73.22835 65.00000 66.92913 63.00000 74.00000 67.71650
[1041] 60.00000 60.00000 69.00000 69.00000 50.00000 69.00000 69.00000 63.38583
[1049] 66.00000 66.00000

In [21]:
head(murders)

  state      abb region population total
1 Alabama    AL  South   4779736    135
2 Alaska     AK  West     710231     19
3 Arizona    AZ  West    6392017    232
4 Arkansas   AR  South   2915918     93
5 California CA  West   37253956   1257
6 Colorado   CO  West    5029196     65

In [22]:
#return average muder rate per 10000 in US
murders %>% summarize(rate = sum(total) / sum(population) * 100000) %>% .$rate

[1] 3.034555

# Sorting Data Tables

**`arrange()`**: sort a data frame by column(s)

In [23]:
#sort by the total number of crimes, in ascending order
murders %>% arrange(total) %>% head()

  state         abb region        population total
1 Vermont       VT  Northeast      625741    2
2 North Dakota  ND  North Central  672591    4
3 New Hampshire NH  Northeast     1316470    5
4 Wyoming       WY  West           563626    5
5 Hawaii        HI  West          1360301    7
6 South Dakota  SD  North Central  814180    8

**`desc()`**:Transform a vector into a format that will be sorted in descending order.

In [24]:
#sort the above example descending
murders %>% arrange(desc(total)) %>% head()

  state        abb region        population total
1 California   CA  West          37253956   1257
2 Texas        TX  South         25145561    805
3 Florida      FL  South         19687653    669
4 New York     NY  Northeast     19378102    517
5 Pennsylvania PA  Northeast     12702379    457
6 Michigan     MI  North Central  9883640    413

You can sort by multiple levels

In [25]:
#sort by total descending, if tie sort by population ascending
murders %>% arrange(desc(total), population) %>% head()

  state        abb region        population total
1 California   CA  West          37253956   1257
2 Texas        TX  South         25145561    805
3 Florida      FL  South         19687653    669
4 New York     NY  Northeast     19378102    517
5 Pennsylvania PA  Northeast     12702379    457
6 Michigan     MI  North Central  9883640    413

**`top_n`()**: return top results ranked by a given variable

In [26]:
#top 10 highest #crimes
murders %>% top_n(10, total)

   state        abb region        population total
1  California   CA  West          37253956   1257
2  Florida      FL  South         19687653    669
3  Georgia      GA  South          9920000    376
4  Illinois     IL  North Central 12830632    364
5  Louisiana    LA  South          4533372    351
6  Michigan     MI  North Central  9883640    413
7  Missouri     MO  North Central  5988927    321
8  New York     NY  Northeast     19378102    517
9  Pennsylvania PA  Northeast     12702379    457
10 Texas        TX  South         25145561    805